@use '../../styles/export.scss' as *;

.banner {
	position: fixed;
	right: $space-xs;
	bottom: $space-xs;

	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: $space-sm;
	justify-content: space-between;
	padding: $space-xs;
	background: $color-primary;
	color: $color-secondary;
	border: 1px solid $color-secondary-w-20;
	opacity: 0;
	pointer-events: none;

	width: 20rem;

	@include mobile {
		flex-direction: column;
	}
	.links {
		display: flex;
		gap: $space-xs;
		padding: 0;
		margin: $space-2xs 0 0;
		list-style: none;
	}
	.actions {
		display: flex;
		gap: $space-xs;
		align-items: flex-start;
	}
}
